# Get your token from https://app.tinybird.co/tokens
# Or use `tb token` for Tinybird Local
TINYBIRD_TOKEN=your_token_here

# Data Source name to use for the example
TINYBIRD_DATASOURCE=events

# For Tinybird Local, set this to true
TINYBIRD_LOCAL=true
# TINYBIRD_PORT=7181
